.box-ex {
    margin-top: 5px;
}

.th-center {
    text-align: center;
}

.td-text {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.td-item {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.td-center {
    text-align: center;
}

.st-text {
    padding: 5px 10px;
}

.bg-image {
    background-color: #fff;
    border: 2px #000 solid;
    margin-right: 40px;
}

.info-box-group {
    margin-top: 20px;
    padding-left: 0;
}

br.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .info-box-group {
        padding-left: 10px;
    }

    br.mobile {
        display: inline;
    }
}

